@font-face {
    font-family: 'inter';
    font-weight: 100;
    src: url(../fonts/Rubik-Thin.ttf);
}

@font-face {
    font-family: 'inter';
    font-weight: 200;
    src: url(../fonts/Rubik-ExtraLight.ttf);
}

@font-face {
    font-family: 'Rubik';
    font-weight: 300;
    src: url(../fonts/Rubik-Light.ttf);
}

@font-face {
    font-family: "Rubik";
    font-weight: 400;
    src: url(../fonts/Rubik-Regular.ttf);
}

@font-face {
    font-family: 'Rubik';
    font-weight: 500;
    src: url(../fonts/Rubik-Medium.ttf);
}

@font-face {
    font-family: 'Rubik';
    font-weight: 600;
    src: url(../fonts/Rubik-SemiBold.ttf);
}

@font-face {
    font-family: 'Rubik';
    font-weight: 700;
    src: url(../fonts/Rubik-Bold.ttf);
}

@font-face {
    font-family: 'Rubik';
    font-weight: 800;
    src: url(../fonts/Rubik-ExtraBold.ttf);
}

@font-face {
    font-family: 'Rubik';
    font-weight: 900;
    src: url(../fonts/Rubik-Black.ttf);
}